<mat-dialog-content [ngClass]="{ 'dark-backgroud': true }">
  <form [formGroup]="applyAlarm">
    <input class="inputAlarm" type="text" formControlName="name" placeholder="Nome para o alarme" />
    <input
      readonly
      class="inputAlarm"
      [ngxTimepicker]="picker"
      [format]="24"
      placeholder="HH:MM Horas 🕐"
      formControlName="time"
    />
    <ngx-material-timepicker [theme]="alarmClock" #picker />
    <mat-calendar [(selected)]="selectedDay" />
    
  </form>
</mat-dialog-content>
<mat-dialog-actions [ngClass]="{ 'dark-backgroud': true }" align="end">
  <button
    mat-button
    mat-dialog-close
    [ngClass]="['cancelButton', 'alarmDialogButton']"
  >
    CANCEL
  </button>
  <button
    mat-button
    cdkFocusInitial
    (click)="newAlarm()"
    [ngClass]="['addButton', 'alarmDialogButton']"
  >
    ADD ALARME
  </button>
</mat-dialog-actions>
