<div>
  <form [formGroup]="applyAlarm" (submit)="openDialog()">
    <input type="text" formControlName="name"/>
    <input type="datetime-local" formControlName="time" />
    <button type="submit">Novo alarme</button>
  </form>
  <ul class="alarmList">
    <li class="listItem" *ngFor="let alarm of alarmsService.alarmsList; let index = index">
      <span>
        {{alarm.name}} {{ alarm.timeToRing | date : "short" }}
      </span>
      
      <button (click)="delete(index)"> ✕ </button>
    </li>

  </ul>
</div>
