.ringingAlarmList {
  list-style-type: none;
  padding: 0;
}

.ringingListItem {
  border-bottom: 1px var(--grey) solid;
  display: flex;
  color: var(--light);
}

.ringingListItem:hover {
  background-color: var(--light);
  color: var(--background);
}

.ringingListItem button {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 30px;
}

.ringingListItem button:hover {
  background-color: var(--danger);
  color: var(--background);
}

.ringingListItem span {
  flex-grow: 2;
  padding: 20px;
}

