/* You can add global styles to this file, and also import other style files */
/* colorscheme 3A3042 7D8491 D7EBBA FEFFBE EE7674*/
:root {
  --background:#1E212B /*#3a3042*/;
  --grey: #7d8491;
  --green: #D7EBBA;
  --light: #FEFFBE;
  --danger: #EE7674;
}

body {
  background-color: var(--background);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.timepicker-overlay{
  z-index: 1001 !important; /* overlay alarm modal*/
}
.timepicker-backdrop-overlay {
  z-index: 1001 !important;
}